.main {
  max-width: 80vw !important;
  width: 80vw !important;
  margin: 0 auto !important;
}

.header {
  max-width: 80vw !important;
  width: 80vw !important;
  margin: 0 auto !important;
}

.footer {
  max-width: 80vw !important;
  width: 80vw !important;
  margin: 0 auto !important;
}

.post-content {
  max-width: 100% !important;
}

.post-entry {
  max-width: 100% !important;
}